<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="Presidents.Presidents">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Presidents" android:icon="@drawable/presidents"></application>
</manifest>