<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="f88181fd-3c15-4a22-b75d-8b4c40f25506" Publisher="CN=stefaan.avonds" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="f88181fd-3c15-4a22-b75d-8b4c40f25506" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Presidents</DisplayName>
    <PublisherDisplayName>Stefaan Avonds</PublisherDisplayName>
    <Logo>Assets\presidents120.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Presidents.WinPhone.App">
      <m3:VisualElements DisplayName="Presidents" Square150x150Logo="Assets\presidents360.png" Square44x44Logo="Assets\presidents106.png" Description="A collection of all presidents" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\presidents170.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>